.calculation {
    padding: 1rem !important;
    background-color: rgba(234, 234, 231, 0.719);
    width: 85% !important;
    height: 100vh;
}

@media (min-width: 768px) {
    .calculation {
        padding: 1rem 5rem;
    }
}

@media (min-width: 992px) {
    .calculation {
        padding: 1rem 2rem;
    }
}

@media (min-width: 1400px) {
    .calculation {
        padding: 1rem 4rem;
    }
}

.title {
    text-align: center;
}

.card-body {
    font-size: large;
}

.card-title {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    text-align: center;
    font-size: x-large;
    font-weight: bold !important;
}

.card-red-txt {
    color: red;
    font-weight: bold;
}

.card-green-txt {
    color: green;
    font-weight: bold;
}

.col-calculator {
    margin-right: 20px;
    text-align: right;
}

.col-comment {
    margin: 0 1.5rem;
    /* color: blue; */
    color: #73738b;
}
